.form {
  background-color: aqua;
  padding: 20px;
  margin: 20px;
  width: 528px;
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);

  transition: transform 250ms linear;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  font: inherit;
  border-radius: 3px;
  border: 1px solid #2a2a2a;
}

.icon {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);

  display: inline-block;
  width: 20px;
  height: 20px;
  fill: #212121;
}

.form-field:focus-within > .icon {
  fill: #2196f3;
}

.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-50px);
}

.agreement {
  display: flex;
  align-items: center;
  /* outline: 1px solid black; */
}

.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-chek {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid #2a2a2a;
  border-radius: 4px;

  transition: transform 250ms linear;
}

.checkbox:checked + .icon-chek {
  transform: scale(1.2);
  border-color: transparent;
  background-color: orange;
  background-image: url("../img/full-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.agreement .text {
  transition: transform 250ms linear;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.checkbox:checked ~ .agreement .text {
  transform: translateX(20px);
}
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box::before {
  display: inline-block;
  font-size: 16px;
}

.box:nth-child(1) {
  transform: translateX(50px);
  background-color: orange;
}

.box:nth-child(1)::before {
  content: "translateX(50px)";
}

.box:nth-child(2) {
  transform: translateY(120px);
  background-color: #03a9f4;
}

.box:nth-child(2)::before {
  content: "translateY(120px)";
}

.box:nth-child(3) {
  transform: translate(-50px, -100px);
  background-color: palevioletred;
}

.box:nth-child(3)::before {
  content: "translate(-50px, -100px)";
}
