* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.list {
  padding: 20px;
  list-style: none;
  font-family: "Helvetica Neue", sans-serif;
}

.list > .item:not(:last-child) {
  margin-bottom: 10px;
}

.list .link {
  display: inline-flex;
  align-items: center;
  color: #212121;
  text-decoration: none;
  font-size: 32px;
}

.list .link::before,
.list .link::after {
  content: "";
  width: 24px;
  height: 24px;
}

.list .link::before {
  margin-right: 16px;
  background-image: url("https://image.flaticon.com/icons/svg/785/785116.svg");
}

.list .link::after {
  display: none;
  margin-left: 16px;
  background-image: url("https://image.flaticon.com/icons/svg/616/616430.svg");
}

.list .link:hover {
  color: #2196f3;
}

.list .link:hover::after {
  display: block;
}

.address {
  margin-left: auto;
}

.address .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.address .link:not(:last-child) {
  margin-right: 50px;
}
.address .link-icon {
  width: 16px;
  height: 11px;
  fill: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link-icon:hover,
.address .link-icon:focus {
  fill: var(--accent-color);
}
